@import '~semantic-ui-css/semantic.min.css';

#root {
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
}

#root > .container {
  padding: 4px;
  height: 100%;
  overflow-y: auto;
}
